<%= form_tag '/users/create', remote: true, id: "new_user_form", class:"panel panel-default" do %>
  <div class="panel-body">
    <ul>
      <li><strong>Name:</strong> <%= text_field_tag :name, nil, {class:"form-control"} %></li>
      <li><strong>Start Date:</strong> <%= text_field_tag :start_date, nil, {type: "date", id: "start_date", class:"form-control"} %></li>
      <li><strong>End Date:</strong> <%= text_field_tag :end_date, nil, {type: "date", id: "end_date", class:"form-control"} %></li>
    </ul>
    <%= submit_tag 'Submit' %>
  </div>
<% end %>
<div id="new_user_url" style="display: none;">Url: </div>
