<!--<div class="page-header">-->
<!--</div>-->

<div>
  <h3> Users </h3>
  <table class="table table-striped table-condensed table-bordered">
    <tr>
      <td><b>Name</b></td>
      <td><b>Start time</b></td>
      <td><b>End time</b></td>
      <td><b>Delete</b></td>
    </tr>
    <% User.casual_users.each do |user| %>
      <tr>
        <td class="name"><%= user.name %></td>
        <td class="start_time"><%= user.start_date %></td>
        <td class="end_time"><%= user.end_date %></td>
        <td class="delete"><%= link_to 'delete', users_delete_path(id: user.id), method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= render partial: 'users/new' %>
